<div class="landingPagesIndex">
	
	<table class="listing">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Url keyword</th>
			<th>&nbsp;</th>
		</tr>
	<% @landing_pages.each_with_index do |landing_page, i| %>
		<tr class="<%= i % 2 == 1 ? 'oddRow' : '' %>" id="landingPageRow<%= landing_page.id %>">
			<td>
				<%= landing_page.id %>
			</td>
			<td>
				<%= link_to landing_page.name, :action => 'show', :id => landing_page.id %>
			</td>
			<td>
				<%= link_to landing_page.url_keyword, "http://#{request.host}#{':' + request.port.to_s if request.port}/#{landing_page.url_keyword}"%>
			</td>
			<td>
				<span class="ui-icon ui-icon-closethick floatLeft" onclick="Admin.removeLandingPage(<%= landing_page.id %>)"></span>

				<%= link_to '<span class="ui-icon ui-icon-wrench floatLeft"></span>', :controller => 'admin/landing_pages', :action => 'edit', :id => landing_page.id %>

			</td>
		</tr>
	<% end %>
	</table>
	
</div>

