<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Current address</th>
    <th>Current zip code</th>
    <th>Current state</th>
    <th>Current city</th>
    <th>Desired location</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Race</th>
    <th>Religion</th>
    <th>Desired rent min</th>
    <th>Desired rent max</th>
    <th>Available days</th>
    <th>Available hours</th>
    <th>Approved by</th>
    <th>Approval date</th>
    <th>Desired gender</th>
    <th>Desired age min</th>
    <th>Desired age max</th>
    <th>Has a room</th>
    <th>Desired move in month</th>
    <th>Desired smoking preference</th>
    <th>Desired number of roommates</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.current_address %></td>
    <td><%=h user.current_zip_code %></td>
    <td><%=h user.current_state %></td>
    <td><%=h user.current_city %></td>
    <td><%=h user.desired_location_id %></td>
    <td><%=h user.phone_number %></td>
    <td><%=h user.email %></td>
    <td><%=h user.gender %></td>
    <td><%=h user.age %></td>
    <td><%=h user.race_id %></td>
    <td><%=h user.religion_id %></td>
    <td><%=h user.desired_rent_min %></td>
    <td><%=h user.desired_rent_max %></td>
    <td><%=h user.available_days %></td>
    <td><%=h user.available_hours %></td>
    <td><%=h user.approved_by %></td>
    <td><%=h user.approval_date %></td>
    <td><%=h user.desired_gender %></td>
    <td><%=h user.desired_age_min %></td>
    <td><%=h user.desired_age_max %></td>
    <td><%=h user.has_a_room %></td>
    <td><%=h user.desired_move_in_month %></td>
    <td><%=h user.desired_smoking_preference %></td>
    <td><%=h user.desired_number_of_roommates %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>