<div class="registration" >
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :city_id %>

  <div class="header">
	<span class="important">Who you are</span>
  </div>

	<p>
		<%= f.text_field :first_name, :class => 'first_name', :onFocus => "if(this.value=='First Name') this.value='';", :onBlur => "if(this.value=='') this.value='First Name';"%> 
		<%= f.text_field :last_name, :class=> "last_name", :onFocus => "if(this.value=='Last Name') this.value='';", :onBlur => "if(this.value=='') this.value='Last Name';", :onSubmit => "if $('last_name').value == 'Last Name'  { alert ('Please Enter Your Last Name'); }"%> 
	</p>

	<p>
		<%= f.text_field :email, :class=> "email", :onFocus => "if(this.value=='Email Address') this.value='';", :onBlur => "if(this.value=='') this.value='Email Address';"%> 
	</p>

	<p>
		<%= f.label :gender %><span class="orangish">:</span>
		<% [ 'male', 'female' ].each do |gender| %>
			<%= f.radio_button :gender, gender	  %>
			<%= f.label "gender#{gender}", gender.humanize %>
		<% end %>
	</p>
	
	<p>
		<%= f.label :Date_of_Birth %><span class="orangish">:</span>
		<%= f.date_select :birth_date, :start_year => Time.now.year - 16, :end_year => Time.now.year - 70, :include_blank => true, :order => [:month, :day, :year]  %>
	</p>
	<p>
		<%= f.label :Kids %><span class="orangish">:</span>
		<% [ 'Yes', 'No' ].each do |has_kids| %>
			<%= f.radio_button :has_kids, has_kids	  %>
			<%= f.label "has_kids#{has_kids}", has_kids.humanize %>
		<% end %>
	</p>
	<p>
		<%= f.label :Pets %><span class="orangish">:</span>
		<% [ 'Yes', 'No' ].each do |has_pets| %>
			<%= f.radio_button :has_pets, has_pets	  %>
			<%= f.label "has_pets#{has_pets}", has_pets.humanize %>
		<% end %>
	</p>
	<BR>
		
		  <div class="header">
			<span class="important">What you need</span>
		  </div>
	  <p>
	    <%= f.label :maximum_monthly_rent %><span class="orangish">:</span>
	    <%= f.text_field :desired_rent_max, :class=> "rent_max" %>
	  </p>

	  <p>
	    <%= f.label :maximum_number_of_roommates %><span class="orangish">:</span>
		<%= f.select :desired_number_of_roommates, options_from_collection_for_select(1..4, 'to_s', 'to_s'),  :class=> "desired_number_of_roomates" %>
	
	  </p>

		<p>
		  <%= f.label :minimum_age %><span class="orangish">:</span>
		  <%= f.select :desired_age_min, options_from_collection_for_select(16..70, 'to_s', 'to_s'),  :class=> "desired_age_min" %>
			&nbsp;
		  <%= f.label :maximum_age %><span class="orangish">:</span>
		  <%= f.select :desired_age_max, options_from_collection_for_select((16..70).to_a.reverse, 'to_s', 'to_s'),  :class=> "desired_age_max" %>

		</p>

		<p>	
		<%= f.label :gender %><span class="orangish">:</span>
		  <% [ 'male', 'female' ].each do |gender| %>
		    <%= f.radio_button:desired_gender, gender	  %>
		    <%= f.label "gender#{gender}", gender.humanize %>
		<% end %>
		</p>
	
	<p>
	<%= f.label :Smoking %><span class="orangish">:</span>
	  <% [ 'Yes', 'No' ].each do |smoking| %>
	    <%= f.radio_button :desired_smoking_preference, smoking %>
	    <%= f.label "smoking#{smoking}", smoking.humanize %>
	<% end %>
	</p>
	<p>
	<%= f.label :Kids %><span class="orangish">:</span>
	  <% [ 'Yes', 'No' ].each do |roomy_kids| %>
	    <%= f.radio_button :roomy_kids, roomy_kids %>
	    <%= f.label "roomy_kids#{roomy_kids}", roomy_kids.humanize %>
	<% end %>
	</p>
	<p>
	<%= f.label :Pets %><span class="orangish">:</span>
	  <% [ 'Yes', 'No' ].each do |roomy_pets| %>
	    <%= f.radio_button :roomy_pets, roomy_pets %>
	    <%= f.label "roomy_pets#{roomy_pets}", roomy_pets.humanize %>
	<% end %>
	</p>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
</div>

