<div class="registration" >
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :city_id %>

  <div class="header">
	<div class="important">Tell us about yourself</div>
	<div class="moreInformation">We promise not to give your information to anyone!</div>
  </div>

	<div class="question">
		<%= f.text_field :first_name, :class => 'first_name', :onFocus => "if(this.value=='First Name') this.value='';", :onBlur => "if(this.value=='') this.value='First Name';"%> 
		<%= f.text_field :last_name, :class=> "last_name", :onFocus => "if(this.value=='Last Name') this.value='';", :onBlur => "if(this.value=='') this.value='Last Name';", :onSubmit => "if $('last_name').value == 'Last Name'  { alert ('Please Enter Your Last Name'); }"%> 
	</div>

	<div class="question">
		<%= f.text_field :email, :class=> "email", :onFocus => "if(this.value=='Email Address') this.value='';", :onBlur => "if(this.value=='') this.value='Email Address';"%> 
	</div>
	
	<div class="question">
		<label>Neighborhood</label><span class="orangish">:</span>
		<%= f.select :neighborhood_id, option_groups_from_collection_for_select(Neighborhood.neighborhood_groups(@user.city_id || params[:city_id] || 9), 'members', 'grouping', 'id', 'name', @user.neighborhood_id) #Hack.  We default to NYC
		 %>
	</div>

	<div class="question">
		<label>Your gender</label><span class="orangish">:</span>
		<% [ 'Male', 'Female' ].each do |gender| %>
			<%= f.radio_button :gender, gender[0].chr	  %>
			<%= f.label "gender_#{gender[0].chr}", gender.humanize %>
		<% end %>
	</div>
	
	<div class="question">
		<label>Age<span class="orangish">:</span>
		<%= f.select :age, options_from_collection_for_select(18..70, 'to_s', 'to_s')  %>
	</div>
	<div class="question">
		<label>When do you want to move in</label><span class="orangish">:</span>
		<%= f.select :desired_move_in_month, options_from_collection_for_select([IdName.new(0, '-Select-')] + move_in_dates, 'first', 'last',  "#{@user.andand.desired_move_in_month.andand.strftime('%b %d, %Y')}")%>
	</div>
	
	<div class="question">
		<label>Do you currently have a place?</label><span class="orangish">:</span>
		<%= f.radio_button :has_a_room, true, :id => 'has_a_room_yes' %>
		<label for="has_a_room_yes">Yes</label>
		<%= f.radio_button :has_a_room, false, :id => 'has_a_room_no' %>
		<label for="has_a_room_no">No</label>
	</div>
	
	<div class="question">
		<label>Write a couple sentences about yourself<br/> so people can remember you</label><span class="orangish">:</span>
		<br/>
		<%= f.text_area :user_description, :rows => 3 %>
	</div>
	<BR>
		
	<div class="header">
	    <div class="important">Describe what you are looking for</div>
	    <div class="moreInformation">We'll use this to make sure you talk to the right people</div>
  </div>
	
	<div class="question">
	  <label>How much do you want to spend<span class="orangish">:</span>
    <%= f.text_field :desired_rent_min, :class=> "rent_max" %> to 
    <%= f.text_field :desired_rent_max, :class=> "rent_max" %>
	</div>
	
	 <div class="question">
	   <label>Desired roommate age range<span class="orangish">:</span>
		 <%= f.select :desired_age_min, options_from_collection_for_select(16..70, 'to_s', 'to_s'),  :class=> "desired_age_min" %>
		 to
		 <%= f.select :desired_age_max, options_from_collection_for_select((16..70).to_a.reverse, 'to_s', 'to_s'),  :class=> "desired_age_max" %>
  </div>

	<div class="question">	
		<label>What gender roommate would you live with</label><span class="orangish">:</span>
		<div>
      <%= f.check_box :desires_male_roommate, :id => 'desires_male_roommate' %>
			<label for="desires_male_roommate">Male</label>
			<%= f.check_box :desires_female_roommate, :id => 'desires_female_roommate'  %>
			<label for="desires_female_roommate">Female</label>
		</div>
	</div>
	
	<div class="question">
		<label>Smokers ok</label><span class="orangish">:</span>
		<%= f.radio_button :desired_smoking_preference, true, :id => 'desired_smoking_preference_yes' %>
		<label for="desired_smoking_preference_yes">Yes</label>
		<%= f.radio_button :desired_smoking_preference, false, :id => 'desired_smoking_preference_no' %>
		<label for="desired_smoking_preference_no">No</label>
	</div>

  <div>
    <%= f.submit 'Submit', :class => "submit" %>
  </div>
<% end %>
</div>

