<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= url_for :only_path => false, :controller => 'blog', :action => 'rss'%>" />
<% end %>
<div class="blogs">
	<% @page_title = "The Official VRoomMates Blog" %>
	
	<h2 class="taglineSmall">The Official VRoomMates Blog</h2>
	<%= render :partial => '/partials/email_city_capture', :locals => { :title => 'Hear About Events' } %>
	
	<% @blogs.each do |blog| %>
		<div class="blog">
			<%= link_to blog.title, :action => 'show', :id => blog.id %> 
			<span class="postedOn"><%= blog.live_date.andand.simple || blog.created_at.simple %></span>
			<div class="content">
				<%= blog.content %>
			</div>
		</div>
	<% end %>
	
	<%= link_to image_tag('rss.png', :height => 25, :width => 25), :action => 'rss' %>
</div>