<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<%= render :partial => 'partials/head.html.erb' %>
		<title><%= @page_title.nil? ? '' : "#{@page_title} - " %>Vroommates</title>
		<link rel="SHORTCUT ICON" href="/favicon.ico">
		
		<%= yield :head %>
		
	</head>
	<body class="newLayout" style="height: 100%">
		<div class="login">
			<img src="/images/layout_v2/mini_logo.png" class="miniLogo" />
			<% if !current_user %>
				<div class="login">
					<% form_for User.new, :url => "/login/login" do |u| %>
						<%= u.text_field :email, :class => 'email', :title => 'email' %>
						<br />
						<%= u.password_field :password, :class => 'password', :title => "password" %>
						<%= image_submit_tag 'layout_v2/go.png', :class => 'loginSubmit go'%>
					<% end %>
				</div>
				<script type="text/javascript">
					$(".login").inputHintOverlay(3, 10);
				</script>
			<% else %>
				<div class="welcomeUser">
					Welcome <%= current_user.first_name %>
					<br />
					<%= link_to 'logout', :controller => 'login', :action => 'logout' %>
				</div>
			<% end %>
		</div>
		
		<div class="whiteBackground" >
		</div>
		
		<div class="mainContent">
			<% if flash[:notice] || flash[:error] %>
				<div class="flashNotice" onclick="javascript:hideFlashNotice()">
					<% if flash[:error] %>
						<div class="orangish">Something Went Wrong</div>
					<% end %>
					<%= flash[:notice] %>
					<%= flash[:error] %>
				</div>
				<script type="text/javascript">
					$('.flashNotice').slideDown();
				</script>
			<% end %>
			<div class="navigation">
				<%= link_to 'Home', :controller => 'homepage', :action => 'v2' %>
				<%= link_to 'About our Events', '/about-our-events' %>
				<% if logged_in? %>
					<%= link_to 'Events', :controller => 'events' %>
				<% else %>
					<%= link_to 'Sign Up', :controller => 'users', :action => 'new' %>
				<% end %>
			</div>
			<img src="/images/layout_v2/logo.png" class="logo"/>
			<div class="pageYield">
				<%= yield %>
			</div>
			<div class="clearBoth"></div>
			<div class="footer">
				<%= link_to 'Sponsor an Event', '/sponsor-an-event' %>
				<%= link_to 'Run an Event', '/host-an-event' %>
				<%= link_to 'Legal / Privacy', '/legal' %>
			</div>
		</div>

		<% if @next_event_splash %>
			<a id="eventInAreaAdLink" class="displayNone" href="#eventInAreaAd">eventInAreaAd</a>
			<div class="displayNone">
				<div id="eventInAreaAd" class="eventInAreaAd">
					<h2>We noticed there is an event coming up in your area.</h2>
					<div class="eventIn">
						<%= link_to "#{@next_event_splash.title} - Happening in #{distance_of_time_in_words(Time.now, @next_event_splash.event_date)}.", :controller => 'events', :action => 'signup', :id => @next_event_splash.id %>
					</div>
					<div class="moreInfo">
						<%= link_to "Click For More Info", :controller => 'events', :action => 'signup', :id => @next_event_splash.id %>
					</div>
				</div>
			</div>
		<% end %>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-18499048-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>