<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<%= render :partial => 'partials/head.html.erb' %>
		<title><%= @page_title.nil? ? '' : "#{@page_title} - " %>Vroommates</title>
		<link rel="SHORTCUT ICON" href="/favicon.ico">
		
		<%= yield :head %>
		
	</head>
	<body class="newLayout">
		<% if flash[:notice] || flash[:error] %>
			<div class="flashNotice">
				<% if flash[:error] %>
					<div class="orangish">Something Went Wrong</div>
				<% end %>
				<%= flash[:notice] %>
				<%= flash[:error] %>
			</div>
			<script type="text/javascript">
				$('.flashNotice').slideDown();
			</script>
		<% end %>
		
		<div class="login">
			<img src="/images/layout_v2/mini_logo.png" class="miniLogo" />
			<input type="text" class="username" />
			<input type="text" class="password" />
			<img src="/images/layout_v2/go.png" class="go"/>
		</div>
		
		<div class="mainContent">
			
			<div class="whiteBackground" >
				<div class="heightEnforcer" ></div>
				<div class="navigation">
					<%= link_to 'Home', :controller => 'homepage', :action => 'v2' %>
					<%= link_to 'About our Events', '/about-our-events' %>
					<%= link_to 'Sign Up', :controller => 'users', :action => 'new'%>
				</div>
				<%= yield %>
				<div class="clearBoth"></div>
				<div class="footer">
					<%= link_to 'Sponsor an Event', '/sponsor-an-event' %>
					<%= link_to 'Run an Event', '/run-an-event' %>
					<%= link_to 'Legal / Privacy', '/legal' %>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-18499048-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>