<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<%= render :partial => 'partials/head.html.erb' %>
		<title><%= @page_title.nil? ? '' : "#{@page_title} - " %>Vroommates</title>
		<link rel="SHORTCUT ICON" href="/favicon.ico">
		
		<%= yield :head %>
		
	</head>
	<body class="newLayout">
		<% if flash[:notice] || flash[:error] %>
			<div class="flashNotice">
				<% if flash[:error] %>
					<div class="orangish">Something Went Wrong</div>
				<% end %>
				<%= flash[:notice] %>
				<%= flash[:error] %>
			</div>
			<script type="text/javascript">
				$('.flashNotice').slideDown();
			</script>
		<% end %>
		
		<div class="mainContent">
			<img class="picture1 picture" src="/images/layout_v2/picture1.jpg" />
			<img class="picture2 picture" src="/images/layout_v2/picture2.jpg" />
			<img class="picture3 picture" src="/images/layout_v2/picture3.jpg" />
			<img class="picture4 picture" src="/images/layout_v2/picture4.jpg" />
			<img class="picture5 picture" src="/images/layout_v2/picture5.jpg" />
			<img class="picture6 picture" src="/images/layout_v2/picture6.jpg" />
			<img class="picture7 picture" src="/images/layout_v2/picture7.jpg" />
			<img class="picture8 picture" src="/images/layout_v2/picture8.jpg" />
			<img class="picture9 picture" src="/images/layout_v2/picture9.jpg" />
			<img class="picture10 picture" src="/images/layout_v2/picture10.jpg" />
			<img class="picture11 picture" src="/images/layout_v2/picture11.jpg" />
			
			<img class="whiteBackground" src="/images/layout_v2/main_white_background.png" />
		</div>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-18499048-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>